.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ececec; */
  background-color: white;
}

.dashboard-superheroes-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
}

.dashboard-letters-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
}

.dashboard-letter-button {
  background: #c4cace;
  font-size: 14px;
  padding: 8px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  cursor: pointer;
  border-color: #c4cace;
}

.dashboard-letter-button:hover {
  opacity: 0.6;
  font-size: 16px;
}

.dashboard-container input {
  border-radius: 8px;
  background: e0e0d1;
  color: black;
  padding: 10px 14px;
  box-shadow: none;
  border: 1px solid #d6d6c2;
  margin: 5px;
  font-size: 15px;
  width: 50vw;
  letter-spacing: 0.7px;
  -webkit-appearance: none;
}

.dashboard-title {
  color: #515151;
  padding: 30px 20px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .dashboard-letters-container {
    height: 150px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 0px;
  }

  .dashboard-superheroes-container {
    grid-template-columns: 100%;
  }

  .dashboard-letter-button {
    margin: 4px;
  }

  .dashboard-container input {
    width: 90%;
  }
}
