.filter-title {
  padding: 10px 12px;
  background-color: #acacac;
  text-align: center;
}

.filter-title h1 {
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
}

.filter-type-name h2 {
  padding: 5px 14.2px 3px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  margin: 0px;
}

.filter-categories {
  list-style: none;
  background-color: #ececec;
  padding: 20px;
  margin: 0px;
}

.filter-category {
  padding: 5px;
  cursor: pointer;
}

.filter-category:hover {
  opacity: 0.6;
}
