.superheroe-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.superheroe-card {
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 9px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  cursor: pointer;
}

.superheroe-card:hover {
  opacity: 0.6;
}

.superheroe-card img {
  width: 40%;
}

.superheroe-card h1 {
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.superheroe-info-container {
  width: 100%;
  text-align: center;
}

.superheroe-info-container {
  color: #515151;
}

.superheroe-info-container h1 {
  font-size: 24px;
  font-weight: 800;
}

.superheroe-info-container h2 {
  font-size: 16px;
  font-weight: 600;
}

.superheroe-info-container p {
  font-size: 14px;
}

.superheroe-big-card {
  display: flex;
  justify-content: center;
}

.superheroe-big-card img {
  width: 50%;
}

.superheroe-big-card-info {
  margin: 0px 30px;
}

.superheroe-big-card-info h1 {
  margin: 0px;
  color: #515151;
}

.superheroes-details {
  display: grid;
  grid-template-columns: 30% 70%;
}

.filter-container {
  padding: 20px;
}

.superheroe-big-card-info h4 {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .superheroes-details {
    display: flex;
    flex-direction: column;
  }
}
